@use "global" as *;

.footer {
  background: #7c0c0c;
  text-align: center;
  color: #fff;
  padding-top: rem(47);
  padding-bottom: rem(30);
}

.footer__inner {
  max-width: rem(1130);
  width: 100%;
  padding-left: rem(25);
  padding-right: rem(25);
  margin: 0 auto;
}

.footer__wrapper {
  @include mq("md") {
    display: flex;
    justify-content: space-between;
  }
}

.footer__company-name {
  margin-top: rem(49);
  font-size: rem(18);
  letter-spacing: rem(0.09);

  @include mq("md") {
    margin-top: rem(79);
  }
}

.footer__address,
.footer__tel {
  margin-top: rem(20);
  font-size: rem(15);
  line-height: rem(22.5);
  letter-spacing: rem(0.75);
}

.footer__nav {
  margin-top: rem(60);

  @include mq("md") {
    margin-top: 0;
  }
}

.footer_nav-items {
  display: flex;
  flex-direction: column;
  gap: rem(30);
}

.footer_nav-item a {
  letter-spacing: rem(0.8);
}

.footer__copyright {
  margin-top: rem(90);
  font-size: rem(14);

  @include mq("md") {
    margin-top: rem(110);
  }
}
