@use "global" as *;

.footer {
  background: #7c0c0c;
  text-align: center;
  color: #fff;
  padding-top: rem(47);
  padding-bottom: rem(30);

  @include mq("md") {
    padding-top: rem(80);
  }
}

.footer__inner {
}

.footer .footer__inner {
  max-width: rem(1080);
}

.footer__wrapper {
  @include mq("md") {
    display: flex;
    justify-content: space-between;
  }
}

.footer__info {
  @include mq("md") {
    text-align: left;
  }
}

.footer__company-name {
  margin-top: rem(49);
  font-size: rem(18);
  letter-spacing: rem(0.09);

  @include mq("md") {
    margin-top: rem(79);
  }
}

.footer__address,
.footer__tel {
  margin-top: rem(20);
  font-size: rem(15);
  line-height: rem(22.5);
  letter-spacing: rem(0.75);
}

.footer__nav {
  margin-top: rem(45);

  @include mq("md") {
    margin-top: 0;
  }
}

.footer_nav-items {
  display: flex;
  flex-direction: column;
}

.footer_nav-item {
  transition: all 0.3s;
}

.footer_nav-item:hover {
  opacity: 0.7;
}

.footer_nav-item a {
  letter-spacing: rem(0.8);
  display: inline-block;
  padding-top: rem(15);
  padding-bottom: rem(15);
}

.footer__copyright {
  margin-top: rem(90);
  font-size: rem(14);

  @include mq("md") {
    margin-top: rem(110);
  }
}
