@use "global" as *;

.hamburger {
  width: inherit;
  height: inherit;
  position: relative;

}

.hamburger span {
  position: absolute;
  display: block;
  width: rem(16);
  height: rem(1);
  background-color: #fff;
  transition: all 0.3s;
}

.hamburger span:nth-child(1) {
  width: rem(20);
  top: rem(23);
  left: rem(22);
}

.hamburger span:nth-child(2) {
  top: rem(30);
  left: rem(22);
}

.hamburger span:nth-child(3) {
  top: rem(37);
  left: rem(22);
}

.hamburger.is-active span:nth-child(1) {
  width: rem(16);
  top: 30px;
  transform: rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
  transform: translateY(-50%);
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  top: 30px;
  transform: rotate(-45deg);
}


