@use "global" as *;

.header {
  height: rem(60);
  position: relative;
  position: fixed;
  width: 100%;
  z-index: 1000;
  
  @include mq("md") {
    margin-top: rem(18);
    height: rem(64);
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  // padding: 0 rem(15);
}

.header__pc-nav {
  height: inherit;
  display: none;

  @include mq("md") {
    display: block;
  }
}

.header__sp-nav {

}