@use "global" as *;

.pc-nav {
}

.pc-nav__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(77);
  height: inherit;
}

.pc-nav__item {
  height: inherit;
}

.pc-nav__item a {
  color: #fff;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.08em;
  height: inherit;
  display: flex;
  align-items: center;
}
